@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .animation-delay-800 {
    animation-delay: 800ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
}

@layer base {
  body {
    @apply fixed inset-0 overflow-hidden tracking-wide;
  }

  html {
    @apply h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }

  h4 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  h5 {
    @apply text-lg sm:text-xl md:text-2xl;
  }

  li {
    @apply cursor-pointer;
  }
}
